# Virtual Environment
venv/

# Python
__pycache__/
*.py[cod]

# Environment Variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# SQLite (temporary)
db.sqlite3

# Logs
*.log

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Migrations (optional during early development)
# **/migrations/*
# !**/migrations/__init__.py

# Local notes / drafts
Interview_Questions.md